body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2; /* Color de fondo */
    color: #281900; /* Color de texto principal */
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

header {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #0d2843; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
    color: #e2e2e2; /* Color de texto del encabezado */
    font-size: x-large;
}
.paginaInicial li {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.paginaInicial li a {
    text-decoration: none; /* Quitar subrayado de los enlaces dentro de los <li> */
    color: #e2e2e2; /* Color de texto para los enlaces */
    font-weight: bold;
}

.paginaInicial li a:hover {
    color: #7d739f; /* Cambiar color de texto al pasar el mouse sobre los enlaces */
}


.IngresoSistema {
    padding: 30px;
    background-color: #0e1d28; /* Color de fondo del contenedor de ingreso al sistema */
    border-radius: 8px;
    margin-top: 2px;
    text-align: center;
    height:auto;
}

form {
    width: 100%;
    background-color: #102f3d; /* Color de fondo del formulario */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
}
/* Estilos para el elemento select */
 form select {
    /* Propiedades de diseño */
    width: 5%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde con color gris */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #f8f8f8; /* Color de fondo */
    color: #333; /* Color del texto */
}

/* Estilos para las opciones del select */
select option {
    /* Propiedades de diseño */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
}

label {
    color: #e2e2e2; /* Color de texto de las etiquetas */
    font-size: xx-large;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 19px;
    width: 250px;
    border: 1px solid #7a7672;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0d4555; /* Color de fondo del botón */
    color: #e2e2e2; /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006070; /* Color de fondo del botón al pasar el cursor */
}

footer {
    background-color: #313034; /* Color de fondo del footer */
    border-radius: 0 0 15px 15px;
    color: #e2e2e2; /* Color de texto del footer */
    font-size: large;
    padding: 10px;
    text-align: center;
}
.mover{
    margin-bottom: 2px;
}